*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    height:90vh;
    width:70%;
    border: 5px solid red;
}
.box{
    height: 20vh;
    width:90%;
    border: 4px solid red;
    margin:30px auto;
    padding:10px;
    font-size: 1.5vw;
}
ul li{
    border: 4px solid red;
    padding:5px;
}
button{
    border: 4px solid red;
    padding:2px 4px;
}
a{
    border: 4px solid red;
    padding:2px 4px;
}
.links{
    height:5vh;
    width:90%;
    margin: 10px auto;
}