*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.allcontent{
    height:260vh;
    width: 100%;
    background-color: rgb(237,212,212);
}
.header{
    height: 45vh;
    width: 100%;
    background-image: url('https://i.pinimg.com/736x/e1/c2/3a/e1c23ac34847740f672717c89a62ae37.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow:1px 1px 5px 2px rgba(0,0,0);
}
input{
    height: 20px;
    width:60%;
    border-radius: 5px;
    margin-top:50px;
    padding: 25px 20px;
    border: 0;
    background-color: rgb(99,18,18);
    color:white;
    position: sticky;
    top:0;
}
input::placeholder{
    color:white;
}
.coffee{
    height:15%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.coffee .photo{
    height:150px;
    width:160px;
    
}
.coffee img{
    height: 98%;
    width:98%;
    border-radius: 50%;
    box-shadow:2px 5px 5px 2px rgba(0,0,0);
}
.coffee img:hover{
    height: 100%;
    width:100%;
    box-shadow:5px 8px 15px 10px rgba(0,0,0);
}
.footer{
    height:170vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    height:85vh;
    width:80%;
    padding:15px 25px;
    margin-top:30px;
    background-color: rgb(215,161,161);
    font-size: 1rem;
    color: rgb(165,42,42);
    box-shadow:1px 1px 5px 1px rgb(165,42,42);
    overflow-y: auto;
}
ol{
    padding: 25px;
}
li{
    margin:3px;
}